source/test/gopro/out/
source/test/gopro/src/
source/test/iphone/out/
source/test/iphone/src/

.DS_Store
build/
scripts/*.pyc
.claude

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
